.cms_window {
  height: 500px;
  background-color: #fff;
  top: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
  height: calc(100vh - 120px);
}

.data {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: calc(100vh - 210px);
  overflow: scroll;
}

.data .data_item {
  clear: both;
  overflow: hidden;
  display: inline-block;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  min-width: 100px;
  transition: all 0.5s linear;
  position: relative;
  opacity: 0;
}

.data .data_item.appeared {
  opacity: 1;
}

.data .data_item .message {
  background-color: #ffe6cb;
  right: 100%;
  border-radius: 10px;
}

.data .data_item .message .text {
  color: black;
  text-align: center;
  padding: 5px;
}

.data .data_item .normalized_message {
  background-color: #ffc485;
  right: 100%;
  border-radius: 10px;
}

.data .data_item .normalized_message .text {
  color: black;
  text-align: center;
  padding: 5px;
}

.data .data_item .response {
  background-color: #c7eafc;
  float: 100%;
  border-radius: 10px;
}

.data .data_item .response .text {
  color: black;
  text-align: center;
  padding: 5px;
}

.bottom_wrapper .filter_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}

.bottom_wrapper .filter_input_wrapper .filter_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}

.bottom_wrapper .refresh_button {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 15px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}

.bottom_wrapper .refresh_button:hover {
  color: #a3d063;
  background-color: #fff;
}

.bottom_wrapper .refresh_button .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

#filter_input {
  color: black;
}